:root {
  --main-color-900: #25bbb3;
  --light-color-900: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.border-class {
  border: 1px solid var(--main-color-900);
}

.main-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light-color-900);
  height: 50px;
  font-size: 1.5rem;
  padding: 30px;
  background-color: var(--main-color-900);
}

.main-header .main-header-link {
  color: var(--light-color-900);
}

.controller-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}
.controller-section #controller-section-input {
  font-size: 2rem;
  padding: 10px;
}

.download-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
